<div class="home_container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 129,99"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISK | PS5"
    gamePrice="R$ 199,99"
  >
  </app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="BEST OFFER"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 9,99"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePrice="R$ 329,99"
  >
  </app-card>
</div>
